/* bar de recherche */
#formAuto{
    position: relative;
}
#list{
    position: absolute;
    z-index: 1;
    background-color: rgb(97, 107, 248);
}
.search input,
.search button{
    height: 2em;
    background-color: rgb(154, 160, 247);
    border-color: rgb(6, 22, 248);
    color:rgb(6, 22, 248);
    border-radius: 0.5em;
}
#list li:hover{
    cursor: pointer;
}