/* généralité */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: rgb(6, 22, 248);
}
button:hover{
    cursor: pointer;
    background-color: rgb(97, 150, 248);
}

/***** navigation *****/

.navHead{
    height: 10vh;
    background-color: rgb(97, 107, 248);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button{
    width: 8em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(154, 160, 247);
    border-radius: 0.5em;
}
.button:hover{
    background-color: rgb(97, 150, 248);
}
.logo{
    font-size: 3em;
    padding-left: 1em;
    color: white;
}
.listFilm{
    font-size: 1.5em;
    color: white;
}
.listCat{
    font-size: 1.5em;
    border: none;
    background-color: rgb(97, 107, 248);
    color: rgb(6, 22, 248);
}
.user{
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.info{
    font-size: 1.5em;
}


/****** cards ******/

.cardsFrame{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card{
    width: 32%;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    border: solid 5px rgb(97, 107, 248);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.title{
    font-size: 2em;
    color: rgb(6, 22, 248);
    text-align: center;
    margin-top: 0.5em;
}
.cardImg img{
    width: 100%;
}
.cardImg{
    width: 15em;
    margin: 0.5em auto;
}
.card p{
    color: rgb(6, 22, 248);
    font-size: 1.2em;
    text-align: center;
    margin-top: 0.5em;
}
.card li{
    text-align: center;
}
.addList,
.infoFilm{
    width: 20em;
    height: 2em;
    margin: 1em;
    background-color: rgb(204, 207, 247);
    border: none;
    color:rgb(6, 22, 248);
    border-radius: 0.5em;
}
.infoFilm{
    background-color: rgb(97, 107, 248);
}


/****** page category ******/

.titleCat{
    font-size: 3em;
    margin: 0.5em;
    color: rgb(97, 107, 248);
    text-align: center;
}
/* pagination */
.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.page-item{
    width: 2em;height: 2em;
    border: solid 1px rgb(97, 107, 248);
    border-radius: 0.2em;
    margin: 0.2em;
    display: flex;
    justify-content: center;
    align-items: center;

}
.page-link a:disabled{
    background-color: rgb(154, 160, 247);
}